@model Hotel.Dtos.RoomDto
<div class="hero-wrap" style="background-size:fit;background-position:botton; background-image: url('@Url.Content("~/images/HP.png")');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                <div class="text">
                    <p class="breadcrumbs mb-2"
                       data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                        <span class="mr-2"><a href="/">Home</a></span>
                        <span class="mr-2"><a href="/Room">Room</a></span>
                        <span>Room Single</span>
                    </p>
                   
                    <h1 class="mb-4 bread">@Model.Room.RoomType.Type</h1> 
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewData.ContainsKey("success"))
{
    <p class="alert alert-success" role="alert">@ViewData["success"]</p>
}
@if (ViewData.ContainsKey("error"))
{
    <p class="alert alert-danger" role="alert">@ViewData["error"]</p>
}

<section class="ftco-section col-lg-12">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" >
                <div class="row">
                    <div class="col-lg-12 ftco-animate" >
                        <div class="row">


                        <div class="col-lg-8 single-slider owl-carousel">

                            @foreach(var a in @Model.Room.Images)
                            {
                                var IUrl = $"~/images/{a.Url}";
                                <div class="item" >
                                    <div class="room-img"
                                         style="background-image: url('@Url.Content(@IUrl)');background-size:fit"></div>
                                </div>

                            }

                        </div>
                        <div class="col-lg-4 sidebar ftco-animate">

                                <div class="sidebar-box ftco-animate" style="border:0.1rem solid #ccc;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
                                    <form asp-action="HandleAddOrder"  method="post">
                                       
                                        <input asp-for="@Model.Order.RoomId" hidden value="@Model.Room.Id"  />
                                        <input hidden name="id" value="@Model.Room.Id"/>
                                        <div class="form-group">
                                            <label  class="control-label">Tên</label>
                                            <input asp-for="@Model.Order.Name" class="form-control" />
                                            <span asp-validation-for="@Model.Order.Name" class="text-danger"></span>
                                            

                                        </div> 
                                        
                                        <div class="form-group">
                                            <label  class="control-label">Số điện thoại</label>
                                            <input asp-for="@Model.Order.Phone" class="form-control" />
                                            <span asp-validation-for="@Model.Order.Phone" class="text-danger"></span>
                                            
                                        </div>  <div class="form-group">
                                            <label  class="control-label">Ghi chú</label>
                                            <input asp-for="@Model.Order.Message" class="form-control" />
                                            
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Gửi" class="btn btn-primary" />
                                        </div>
                                    </form>
                            </div>


                        </div>
                        </div>
                    
                    </div>
                    
                    
                    <div class="col-md-12 room-single mt-4 mb-5 ftco-animate">
                        <p>
                            When she reached the first hills of the Italic Mountains, she
                            had a last view back on the skyline of her hometown
                            Bookmarksgrove, the headline of Alphabet Village and the
                            subline of her own road, the Line Lane. Pityful a rethoric
                            question ran over her cheek, then she continued her way.
                        </p>
                            <h4>Chi Tiết :</h4>
                        <div class="d-md-flex mt-2 mb-4" style="border-top:0.2rem solid #ccc;padding:1rem">
                            <ul class="list ml-md-5">
                                @for (int i=0 ; i < ViewBag.RoomProperties.Items.Count;i++)
                                {
                                        <li style="list-style:circle">
                                        <span>
                                            @ViewBag.RoomProperties.Items[i].Name:    
                                                @foreach (var de in Model.Room.Details!)
                                                {
                                                    if (de.RoomPropertyId == @ViewBag.RoomProperties.Items[i].Id && de.RoomId == Model.Room.Id)
                                                    {
                                                        @de.Detail
                                                    }
                                                }
                                        </span>
                                        </li>
                                }
                            </ul>

                          </div>


                            <h4>Tiện Ích : </h4>
                        <div class="d-md-flex mt-2 mb-4" style="border-top:0.2rem solid #ccc;padding:1rem">
                            <br />
                            <ul class="list ml-md-5">
                                @foreach (var uni in Model.Room.Unities!)
                                {
                                    <li style="list-style:circle">
                                        <span>
                                            @uni.Name
                                        </span>
                                        </li>
                                }
                            </ul>
                          </div>



                       
                        <h3 class="mb-2">Video :</h3>
                    <div class="col-md-12 col-lg-12 room-single ftco-animate mb-5" style="border-top:0.2rem solid #ccc;padding:1rem">
                        <div class="block-16">
                            <figure style="display: flex; justify-content: center">
                                <img src='@Url.Content("~/ForntEnd/images/room-4.jpg")'
                                     alt="Image placeholder"
                                     class="img-fluid" />
                                <a href="https://vimeo.com/45830194"
                                   class="play-button popup-vimeo">
                                    <span class="icon-play"></span>
                                </a>
                            </figure>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>