@model IEnumerable<Banner>

@if (Model != null)
{
    <section class="home-slider owl-carousel" style="height:100vh">
        @foreach (var b in Model)
        {
            var img = $"~/images/{b.Image}";
            <div class="slider-item" style="background-image: url('@Url.Content(img)'); background-position:center; background-size:contain">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row no-gutters slider-text align-items-center justify-content-center">
                        <div class="col-md-12 ftco-animate text-center">
                            <div class="text mb-5 pb-3">
                                <h1 class="mb-3">@Html.DisplayFor(i=>b.Title)</h1>
                                <h2>@Html.DisplayFor(i=>b.Content)</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </section>

}

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Our Rooms</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="background-image: url('@Url.Content("~/ForntEnd/images/room-1.jpg")');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Suite Room</a></h3>
                        <p><span class="price mr-2">$120.00</span> <span class="per">per night</span></p>
                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View Room Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="background-image: url('@Url.Content("~/ForntEnd/images/room-2.jpg")');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Family Room</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">per night</span></p>
                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View Room Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="background-image: url('@Url.Content("~/ForntEnd/images/room-3.jpg")');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Deluxe Room</a></h3>
                        <p><span class="price mr-2">$150.00</span> <span class="per">per night</span></p>
                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View Room Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="background-image: url('@Url.Content("~/ForntEnd/images/room-4.jpg")');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Classic Room</a></h3>
                        <p><span class="price mr-2">$130.00</span> <span class="per">per night</span></p>
                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View Room Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="background-image: url('@Url.Content("~/ForntEnd/images/room-1.jpg")');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Superior Room</a></h3>
                        <p><span class="price mr-2">$300.00</span> <span class="per">per night</span></p>
                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View Room Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="background-image: url('@Url.Content("~/ForntEnd/images/room-1.jpg")');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Luxury Room</a></h3>
                        <p><span class="price mr-2">$500.00</span> <span class="per">per night</span></p>
                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View Room Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url('@Url.Content("~/ForntEnd/images/bg_1.jpg")');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="50000">0</strong>
                                <span>Happy Guests</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="3000">0</strong>
                                <span>Rooms</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="1000">0</strong>
                                <span>Staffs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="100">0</strong>
                                <span>Destination</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>