@model IEnumerable<Banner>
@{
    ViewData["Title"] = "Index";
}

<div class="container" style="min-height:100vh">
    <h1 class="mb-3">Quản lý Banner</h1>

    <a asp-action="Create" asp-controller="AdminBanner">Tạo banner mới</a>

    <table id="banner_table" class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Tiêu đề</th>
                <th class="text-center">Nội dung</th>
                <th class="text-center">ảnh</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var img = $"~/images/{@item.Image}";
                <tr>
                    <td class="text-center">@Html.DisplayFor(a=>item.Id)</td>
                    <td class="text-center">@Html.DisplayFor(a=>item.Title)</td>
                    <td class="text-center">@Html.DisplayFor(a=>item.Content)</td>
                    <td class="text-center" scope="col">
                        <img style="width:70px;height:70px" src="@Url.Content(img)" />
                    </td>

                    <td class="text-center">
                        <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |

                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


