
<div class="hero-wrap" style="background-image: url('@Url.Content("~/images/HP.png")');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                <div class="text">
					<p class="breadcrumbs mb-2"><span class="mr-2"><a href="/">Home</a></span> <span><a href="/About">About</a></span></p>
                    <h1 class="mb-4 bread">Rooms</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section bg-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
							@foreach (var r in ViewBag.RoomList.Items)

						{
						
					<div class="col-sm-6 col-md-6 col-lg-4 ftco-animate">

				
					

							<div class="room">
									@foreach(var rimg in r.Images)
							{
									var img = $"~/images/{rimg.Url}";
								<a href="/SingleRoom" class="img d-flex justify-content-center align-items-center" style="background-image: url('@Url.Content(img)');">
									<div class="icon d-flex justify-content-center align-items-center">
										<span class="icon-search2"></span>
									</div>
								</a>
							}


						
								<div class="text p-3 text-center">
									<h3 class="mb-3"><a href="/SingleRoom">@r.RoomType.Type</a></h3>

                                  @* Price *@
									@if (ViewBag.RoomProList != null)
									{
										foreach (var pro in ViewBag.RoomProList.Items)
										{
											if (pro.Name == "Giá Phòng")
											{
												foreach (var de in pro.Details)
													if (@de.RoomId == r.Id)
													{
														<p><span class="price mr-2">@de.Detail</span><span class="per"></span></p>
													}
											}
										}


										<ul class="list">
											@foreach (var pro in ViewBag.RoomProList.Items)
											{
												if (pro.Name != "Giá Phòng")
												{
													foreach (var de in pro.Details)
													{
														if (@de.RoomId == r.Id)
														{
															<li><span>@pro.Name : </span>@de.Detail</li>
														}
													}
												}
											}
										</ul>

										<hr>
										<p class="pt-1"><a asp-action="Index" asp-controller="SingleRoom" asp-route-id="@r.Id" class="btn-custom">Book Now <span class="icon-long-arrow-right"></span></a></p>
									}
								</div>
							</div>
			
					</div>
					}
				</div>
				
			</div>
		</div>
	</div>
</section>